{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center pt-2">
            <div class="card border-light mb-3 mt-2" style="max-width: 40rem;">
                <div class="card-header"><i class="far fa-address-card"></i>&nbsp;&nbsp;Informations Générales</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-2">
            <div class="card border-light mb-3 mt-2" style="max-width: 40rem;">
                <div class="card-header"><i class="far fa-images"></i>&nbsp;&nbsp;Photos</div>
                <div class="card-body">
                    <h4 class="card-title">Primary card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <h2> ma page profile</h2>
    </div>
{% endblock %}
