{% extends 'base.html.twig' %}

{% block title %}Bienvenue...{% endblock %}

{% block body %}
    <div data-spy="scroll" data-target="#navhome" data-offset="0">
        <header id="acceuil" class="headImage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-title">
                            <h1><strong>Bienvenue sur SingleRoom</strong></h1>
                        </div>
                        <h4 class="mb-3" style="color: white">Vos déplacements ne seront plus pareil...</h4>
                        <img src="/img/earth.png" alt="image" style="max-width:500px; max-height:400px">
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center mt-2">
                            <div class="card-header card-entete">
                                <h4><strong>Pas encore inscrit(e)?</strong></h4>
                                <h4><strong>N'hésitez pas, c'est gratuit!</strong></h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                            <div class="card-footer text-muted">
                                2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="price" class="container">
            <p>
                Quis anim fugiat esse ullamco duis officia labore. Pariatur eiusmod excepteur nisi amet qui do. Nulla sint deserunt veniam fugiat adipisicing. Tempor cillum deserunt exercitation sint et nisi adipisicing ut sit minim. Quis reprehenderit id esse sint et est. Anim veniam reprehenderit incididunt qui ullamco do in veniam consectetur pariatur qui consectetur aliqua enim. Incididunt in anim reprehenderit id irure veniam consequat anim.
            </p>
        </div>
    </div>
{% endblock %}
