{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div data-spy="scroll" data-target="#navhome" data-offset="0">
        <header id="acceuil" class="headImage">
            <div class="container">
            <h2>Bienvenue</h2>
            </div>
        </header>
        <div id="price" class="container">
            <p>
                Quis anim fugiat esse ullamco duis officia labore. Pariatur eiusmod excepteur nisi amet qui do. Nulla sint deserunt veniam fugiat adipisicing. Tempor cillum deserunt exercitation sint et nisi adipisicing ut sit minim. Quis reprehenderit id esse sint et est. Anim veniam reprehenderit incididunt qui ullamco do in veniam consectetur pariatur qui consectetur aliqua enim. Incididunt in anim reprehenderit id irure veniam consequat anim.
            </p>
        </div>
    </div>
{% endblock %}
