header.headImage {
    /* background: url('/img/trip.jpeg') no-repeat center center;*/
    display: block;
    background-color: #7fadc5;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    /*height: 80vh;*/
    width: 100vw;
}

div.test{
  background-color: #7fad54;
  height: 20hv;
  width: 100wh;
}

.home-title{
    font-family: serif, Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  .card-entete{
    background-color: #b1c18c;
    color: #ffffff

  }