/* import du theme Flatty de Bootswatch */
@import './bootstrap.min.css';

$cardColor: #b1c18c;
$buttonHover: rgba(12, 101, 69, 1);
$footColor: #f5f5f5;
$alertSuccess: #c9ead9;

body {
    margin-top: 60px;
}

.container {
    margin-top: 30px;
}

.card-header {
    background-color: $cardColor;
}

.card-footer {
    p {
        font-size: .7rem;
    }
    a {
        color: #000000;
    }
    #p-left {
        color: #000000;
        text-align: left;
    }
    #p-right {
        color: #000000;
        text-align: right;
    }
    &.card-footer-logout {
        background-color: $footColor;
    }
}

.btn {
    background-color: $cardColor;
    color: #ffffff;
    font-weight: bold;
    &:hover {
        background-color: $buttonHover;
        color: #ffffff;
    }
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60%; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.alert {
    &.alert-success {
        background-color: $alertSuccess;
        color: $buttonHover;
        text-align: center;
        max-width: 80vw;
    }
}