/* pour importer le bootstrap original
@import "~bootstrap/scss/bootstrap";*/

/* import du theme Flatty de Bootswatch */
@import './bootstrap.min.css';

/* colors */
$greyColor: #f5f5f5;
$lightBlue: #7fadc5;
$orange: #f5853b;
$fig : #3f4253;
$wProfilePicture: 192px;
$hProfilePicture: 192px;

body {
  margin-top: 80px;
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;

  &.avatar-medium {
      max-width: 64px;
      max-height: 64px;
  }

  &.avatar-mini {
      max-width: 32px;
      max-height: 32px;
  }

  &.avatar-micro {
      max-width: 20px;
      max-height: 20px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: $greyColor;
}

.mainColProfile {
  background-color: $lightBlue;
  color: #ffffff;
  min-height: 100vh;
}

.mainLabelProfile {
  background-color: #ffffff;
  color: $lightBlue;
  /* border-radius: 20px; */
}

.mainCardProfile {
  a {
    color: $fig;
    &:hover {
      color: $lightBlue;
    }
  }
  &.card {
    color: $lightBlue;
  }
  &.card-header {
    background-color: #ffffff;
  }
  &.card-body {
    background-color: $greyColor;
  }
}

.cardProfile{
  min-width: 80%;
}

.cardHeader {
  width: 100%;
  background-color: $lightBlue;
  text-align:center
}

.cardPseudo{
  margin-left: 2rem;
  color: #ffffff;
  font-size: 1.5rem;
}

/* profile pictures */
.block-contain-image {
  text-align: center;
}

@media (max-width: 1024px) {
  .contain-image, .contain-image-add {
      margin-bottom: 1rem;
  }
}

.contain-image {
  display: inline-block;
}

.contain-image, .contain-image-add {
  position: relative;
  width: 100%;
  max-width: $wProfilePicture;
  margin-right: 2rem;
}

.picProfile {
  display: block;
  /* max-width: $wProfilePicture;
  max-height: $hProfilePicture; */
  width: $wProfilePicture;
  height: $hProfilePicture;
  border: .1rem solid #C0C0C0;
}

.overlay-update {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
  background-color: $lightBlue;
}

.contain-image:hover .overlay-update {
  opacity: 1;
}

.icon-update {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.i-update:hover {
  color: $fig;
}

.contain-image:hover .overlay-delete {
  opacity: 1;
}

.overlay-delete {
  position: absolute;
  top: 0;
  bottom: 0;
  /*left: 0;*/
  right: 0;
  height: 20%;
  width: 20%;
  opacity: 0;
  transition: .3s ease;
  background-color: $lightBlue;
}

.icon-delete {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.i-delete:hover {
  color: $fig;
}
/* end profile pictures */

.btn {
  &.btn-profile-update {
    background-color: $lightBlue;
    color: #ffffff;
  }
  &.btn-profile-delete {
    background-color: $orange;
    color: #ffffff;
  }
}