/* pour importer le bootstrap original
@import "~bootstrap/scss/bootstrap";*/

/* import du theme Flatty de Bootswatch */
@import './bootstrap.min.css';

.container {
  padding-top: 6rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

