/* pour importer le bootstrap original
@import "~bootstrap/scss/bootstrap";*/

/* import du theme Flatty de Bootswatch */
@import './bootstrap.min.css';

/* colors */
$greyColor: #f5f5f5;
$profileColor: #7fadc5;
$cardA : #3f4253;

body {
  margin-top: 80px;
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;

  &.avatar-medium {
      max-width: 64px;
      max-height: 64px;
  }

  &.avatar-mini {
      max-width: 32px;
      max-height: 32px;
  }

  &.avatar-micro {
      max-width: 20px;
      max-height: 20px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: $greyColor;
}

.mainColProfile {
  background-color: $profileColor;
  color: #ffffff;
  min-height: 100vh;
}

.mainLabelProfile {
  background-color: #ffffff;
  color: $profileColor;
  /* border-radius: 20px; */
}

.mainCardProfile {
  a {
    color: $cardA;
    &:hover {
      color: $profileColor
    }
  }
  &.card {
    color: $profileColor;
  }
  &.card-header {
    background-color: #ffffff;
  }
  &.card-body {
    background-color: $greyColor;
  }
}