/* color */
$cardColor: #b1c18c;
$backgColor: #7fadc5;
$titleContent: #f5853b;

header.headImage {
    /* background: url('/img/trip.jpeg') no-repeat center center;*/
    display: block;
    background-color: $backgColor;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    /*height: 80vh;*/
    width: 100vw;
}

.home-title {
    font-family: serif, Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#home-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width: 80%;
    max-height:400px;
}

@media (max-width: 576px) {
    #home-img {
        margin-bottom: 1rem;
    }
}

.card-header {
    background-color: $cardColor;
    color: #ffffff;

}

.concept, .price {
    text-align: center;
}

#title-concept, #title-price {
    margin-left: 0.5rem;
}

#title-concept, #title-price, #light, #money {
    color:  $titleContent;
    font-size: 3rem;
}

#price-list {
    font-size: 1.8rem;
    text-align: center;
    .card-header{
        font-weight: 600;
    }
    .card-title {
        font-weight: bold;
    }
}