<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BizTrip - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/account') }}
        {% endblock %}
    </head>
    <body>
        {# Read and display addflashe is exist #}
        <div class="container">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }} fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <span class="text-muted">BizTripJoy - &copy; a2vf, 2019</span>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/dbd522f0ef.js"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
